*, *:before, *:after {
box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header {
  padding: 2em;
  background-color: darkgray;
  color: white;
}

section {
  padding: 2em;
}

button, input {
  float: right;
  background-color: darkgray;
  border: none;
  padding: 1em 2em;
  color: white;
}

table {
  border-collapse: collapse;
  border: none;
}

td, th {
  padding: 1em 2em;
  text-align: center;
}

td {
  border-top: 1.5px solid lightgray;
}

/* tr {
  border: 2px solid gray;
}
 */
