<!DOCTYPE html>
<html lang='en'>
<link rel='stylesheet' href='/public/style.css'>
<head>
    <meta charset='UTF-8'>
    <title>Jenny's Movies</title>
</head>
<body>
  <header>
    <h1>Jenny's Movie Ratings</h1>
    <h3>See if your opinions are correct!</h3>
  </header>
  <section>
    <a href="/movies/new"><button class="button">New Movie</button></a>
      <h2>All Movies</h2>
      <table class="index">
        <thead>
          <tr>
            <th>Title</th>
            <th>Director</th>
            <th>Year</th>
            <th>My rating</th>
          </tr>
        </thead>
        <tbody>
          {{#movies}}
          <tr>
            <td><b><a href="/movies/{{_id}}">{{title}}</a></b></td>
            <td>{{director}}</td>
            <td>{{year}}</td>
            <td>{{rating}}</td>
            <td>
              <form action="/movies/{{_id}}/delete" method="POST">
                <input type="submit" value="Delete Movie" class="button">
              </form>
            </td>
            <td>
              <a href="/movies/{{_id}}/edit"><button class="button">Edit</button></a>
            </td>
          </tr>
          {{/movies}}
      </tbody>
    </table>
  </section>
</body>
</html>
